@model Models.Student
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Trang chủ</a>
            </li>
            <li class="active">Hồ sơ</li>
        </ul><!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                </span>
            </form>
        </div><!-- /.nav-search -->
    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>
                Hồ sơ
                <small>
                    <i class="ace-icon fa fa-angle-double-right"></i>
                    overview &amp; stats
                </small>
            </h1>
        </div><!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="clearfix">
                    <div class="pull-left alert alert-success no-margin alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">
                            <i class="ace-icon fa fa-times"></i>
                        </button>

                    </div>
                </div>

                <div class="hr dotted"></div>

                <div>
                    <div id="user-profile-1" class="user-profile row">
                        <div class="col-xs-12 col-sm-3 center">
                            <div>
                                <span class="profile-picture">
                                    <img id="avatar" class="editable img-responsive" alt="Alex's Avatar" src="~/Images/avatars/profile-pic.jpg" />
                                </span>

                                <div class="space-4"></div>

                                <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                                    <div class="inline position-relative">
                                        <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                                            <i class="ace-icon fa fa-circle light-green"></i>
                                            &nbsp;
                                            <span class="white">@Model.StudentName</span>
                                        </a>

                                        <ul class="align-left dropdown-menu dropdown-caret dropdown-lighter">
                                            <li class="dropdown-header"> Change Status </li>

                                            <li>
                                                <a href="#">
                                                    <i class="ace-icon fa fa-circle green"></i>
                                                    &nbsp;
                                                    <span class="green">Available</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <i class="ace-icon fa fa-circle red"></i>
                                                    &nbsp;
                                                    <span class="red">Busy</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <i class="ace-icon fa fa-circle grey"></i>
                                                    &nbsp;
                                                    <span class="grey">Invisible</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="space-6"></div>

                            <div class="profile-contact-info">
                                <div class="profile-contact-links align-left">
                                    <a href="#" class="btn btn-link">
                                        <i class="ace-icon fa fa-plus-circle bigger-120 green"></i>
                                        Add as a friend
                                    </a>

                                    <a href="#" class="btn btn-link">
                                        <i class="ace-icon fa fa-envelope bigger-120 pink"></i>
                                        Send a message
                                    </a>

                                    <a href="#" class="btn btn-link">
                                        <i class="ace-icon fa fa-globe bigger-125 blue"></i>

                                    </a>
                                </div>

                                <div class="space-6"></div>

                                <div class="profile-social-links align-center">
                                    <a href="#" class="tooltip-info" title="" data-original-title="Visit my Facebook">
                                        <i class="middle ace-icon fa fa-facebook-square fa-2x blue"></i>
                                    </a>

                                    <a href="#" class="tooltip-info" title="" data-original-title="Visit my Twitter">
                                        <i class="middle ace-icon fa fa-twitter-square fa-2x light-blue"></i>
                                    </a>

                                    <a href="#" class="tooltip-error" title="" data-original-title="Visit my Pinterest">
                                        <i class="middle ace-icon fa fa-pinterest-square fa-2x red"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="hr hr12 dotted"></div>

                            <div class="hr hr16 dotted"></div>
                        </div>

                        <div class="col-xs-12 col-sm-9">

                            <div class="space-12"></div>

                            <div class="profile-user-info profile-user-info-striped">
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Họ và tên </div>

                                    <div class="profile-info-value">
                                        <span class="editable" id="username">@Model.StudentName</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Ngày sinh </div>

                                    <div class="profile-info-value">
                                        <span class="editable" id="age">@Model.BirthDate</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Địa chỉ </div>

                                    <div class="profile-info-value">
                                        <i class="fa fa-map-marker light-orange bigger-110"></i>
                                        <span class="editable" id="country">@Model.Address</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Số điện thoại </div>

                                    <div class="profile-info-value">
                                        <span class="editable" id="age">@Model.Phone</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Lớp </div>

                                    <div class="profile-info-value">
                                        <span class="editable" id="about">@Model.Class</span>
                                    </div>
                                </div>
                            </div>

                            <div class="space-20"></div>

                            <div class="hr hr2 hr-double"></div>

                            <div class="space-6"></div>

                        </div>
                    </div>
                </div>

                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->

    </div><!-- /.page-content -->
</div>

