@using StudentInternshipManagement.Controllers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Homepage - Trang quản lý thực tập";
    string message = ViewBag.Message ?? string.Empty;
}
@{
    string role = string.Empty;
    if (Request.IsAuthenticated)
    {
        var controller = new BaseController();
        string username = controller.CurrentUser.UserName;
        role = controller.CurrentRole;
    }
}

@section Kendo {
    @Styles.Render("~/Content/kendo/styles")
    @Scripts.Render("~/Scripts/kendo/scripts")
}

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
        </ul><!-- /.breadcrumb -->


    </div>

    <div class="page-content">
        <div class="container">
            <div class="page-header">
                <h1 id="newslist-header">
                    Tin tức - Thông báo
                </h1>
            </div>
            <div class="row">
                <div id="news-list">
                    <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                        <li class="active">
                            <a data-toggle="tab" href="#home" aria-expanded="true">Home</a>
                        </li>

                        <li class="" style='display: @(role.Equals("Student") ? "inline-block" : "none")'>
                            <a href="/Student/Profile" aria-expanded="false">Sinh viên</a>
                        </li>

                        <li class="" style='display: @(role.Equals("Teacher") ? "inline-block" : "none")'>
                            <a href="/Teacher/Profile" aria-expanded="false">Giảng viên</a>
                        </li>

                        <li class="" style='display: @(role.Equals("Admin") ? "inline-block" : "none")'>
                            <a href="/Admin/Profile" aria-expanded="false">Giáo vụ</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane active">
                            @{ Html.RenderAction("Index", "News", new {areas = ""}); }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.page-content -->

    @(Html.Kendo().Dialog()
          .Name("messageDialog")
          .Title("Notification")
          .Content(message)
          .Width(400)
          .Modal(true)
          .Visible(!string.IsNullOrEmpty(message))
          .Actions(actions => { actions.Add().Text("OK"); })
          )
</div>